
<form (ngSubmit)="onSubmit()" #form="ngForm" class="form-container">
  <h2>User Register </h2>

  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" id="username" name="username" [(ngModel)]="leadObj.username" required/>
  </div>

  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" id="password" name="password" [(ngModel)]="leadObj.password" required/>
  </div>

  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" id="email" name="email" [(ngModel)]="leadObj.email" required/>
  </div>

  <div class="form-group">
    <label for="mobileNumber">Mobile Number</label>
    <input type="text" id="mobileNumber" name="mobileNumber" [(ngModel)]="leadObj.mobileNumber" required/>
  </div>

 
  <button class="get-button" type="submit">Submit</button>
</form>